{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
  <!-- <link rel="stylesheet" href="{% static '/css/login.css' %}"> -->
  <div class="login-box">
    <h3>Iniciar sesion</h3>
    <h4>para continuar es necesario iniciar sesion</h4>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Continuar</button>
    </form>
    <h5>¿Aún no te registraste? <br> <a href="/signup">Clic aquí para registrar una nueva cuenta</a></h5>

  </div>

{% endblock %}
