{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>.:Kofran's Blog:.</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- css statico -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Rock+Salt" rel="stylesheet">

    <!-- fontawesome -->
    <script src="https://use.fontawesome.com/569f4b09d7.js"></script>
    <!-- recaptcha -->
    <script src='https://www.google.com/recaptcha/api.js'></script>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1 class="logo"><a href="/">Kofran's Blog</a></h1>
            <h6><a href="/">blog.kofran.com</a></h6>
          </div>
          <div class="col-sm-6">
            <ul class="social-header list-inline text-xs-right">
              <li class="list-inline-item">
                <a href="https://facebook.com" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://twitter.com/francoborgazzi"  target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://plus.google.com/+FrancoBorgazzi"  target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/kofran" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                {% if user.is_authenticated %}
                  <p>¡Hola {{ user.username }}!</p>
                {% endif %}
                {% if user.is_anonymous %}
                  <a href="/signup"><i class="fa fa-user-plus" aria-hidden="true"></i> ¡Registrate!</a>
                {% endif %}
              </li>
              <li class="list-inline-item">
                {% if user.is_staff %}
                  <a href="/admin"><i class="fa fa-unlock" aria-hidden="true"></i></a>
                {% endif %}
              </li>
            </ul>
          </div>

        </div>

      </div>
      <div class="menu-bar text-xs-left">
        <div class="container" role="menu">
          <ul class="menu-list list-inline">
            <li class="list-inline-item">
              <a href="/"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>
            </li>
            {% if user.is_anonymous %}
              <li class="list-inline-item">
                <a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Iniciar Sesión</a>
              </li>
            {% endif %}
            <li class="list-inline-item">
              {% if perms.post.can_add %}
                {% if user.is_authenticated %}
                  <a href="{% url 'post_new' %}" class="top-menu"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo post</a>
                {% endif %}
              {% endif %}

            </li>
            {% if user.is_authenticated %}
              <li class="list-inline-item">
                <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar Sesión</a>
              </li>
            {% endif %}
          </ul>


        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          {% block content %}
          {% endblock %}
        </div>
        <div class="col-sm-4">
          <h4>Right panel</h4>

        </div>
      </div>

    </div>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Development Version 0.2 - Kofran's Blog <i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2017 - <a href="https://github.com/kofran/blog" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Source Code</a></span>


      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
