{% extends 'blog/base.html' %}

{% block content %}
  <div class="post">
    {% if post.published_date %}
      <div class="date">
        Publicado el {{ post.published_date|date:"j/n/Y" }} por {{ post.author }}
      </div>
    {% endif %}
    {% if user.is_staff %}

    {% endif %}
    <h2>{{ post.title|title}}
      <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-default">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </a>
    </h2>
    <p>{{ post.text|safe|linebreaksbr }}</p>
  </div>
  <!-- div para los comentarios -->
  <div class="comment">
    {% if comments %}
      <h3>Comentarios:</h3>
      {% for comment in comments %}
        <ul class="list-group">
          <li class="list-group-item">
            <i><b>{{ comment.author}}</b> dijo el {{ comment.published_date|date:"j/n/Y" }} a las {{ comment.published_date|time:"H:i:s"}}:</i></br>
            {{ comment.text }}
          </li>
        </ul>
      {% endfor %}
    {% else %}
      <p><b>No hay comentarios... ¡se el primero!</b></p>
    {% endif %}

    {% if user.is_anonymous %}
      <a href="/login"><h5>Inicia sesión para comentar</h5></a>
    {% endif %}
  </div>
  {% if user.is_authenticated %}
    <div class="makecomment">
      <form class="post-form" method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <p><i>* se admiten hasta 2048 caracteres</i></p>
        <button type="submit" class="save btn btn-default">Save</button>
      </form>
    </div>
  {% endif %}
{% endblock %}
