{% extends 'blog/base.html' %}

{% block content %}
  <div class="post">
    {% if post.published_date %}
      <div class="date">
        Publicado el {{ post.published_date|date:"j/n/Y" }} por {{ post.author }}
      </div>
    {% endif %}
    {% if user.is_authenticated %}
      <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-default">
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
    {% endif %}
    <h2>{{ post.title}}</h2>
    <p>{{ post.text|safe|linebreaksbr }}</p>
  </div>
  <!-- div para los comentarios -->
  <div class="comment">
    <h3>Comentarios:</h3>
        {% for comment in comments %}
          <ul class="list-group">
            <li class="list-group-item">
              <i><b>{{ comment.author}}</b> dijo el {{ comment.published_date|date:"j/n/Y" }} a las {{ comment.published_date|time:"H:i:s"}}:</i></br>
              {{ comment.text }}
            </li>
          </ul>
        {% endfor %}
    {% if user.is_anonymous %}
      <a href="/login"><h5>Inicia sesión para comentar</h5></a>
    {% endif %}
  </div>
  {% if user.is_authenticated %}
    <div class="makecomment">
      <form class="post-form" method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit" class="save btn btn-default">Save</button>
      </form>
    </div>
  {% endif %}
{% endblock %}

<!-- {% block comment %}
  <div class="comment">
    <p>{{ comment.text }}</p>
  </div>
{% endblock %} -->
