.page-header {
  background-color: #009933;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
}
h1 a {
  color: white;
  font-family: 'Press Start 2P', cursive;
}
p {
  color: red;
}
body {
    padding-left: 15px;
    padding-right: 15px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* to set fixed height of the footer*/
  height: 60px;
  background-color: #f5f5f5;
}
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
footer  > .container{
  padding-right: 15px;
  padding-left: 15px;
}
.top-menu {
  color: black;
  font-family: monospace;
  font-weight: bold;
  padding-left: 50px;
}
