/*GENERAL*/
body {
    font-family: 'Inconsolata', monospace;
}
/*HEADER*/
header {
  background-color: #7c7c7c;
  padding-top: 25px;
}
  header a {
    color: #fff;
  }
    header a:hover {
      color: #fff;
      text-decoration: none;
    }
    .logo {
      font-family: 'Rock Salt', cursive;
    }
.social-header {
  margin-top: 12px;
}
  .social-header a {
    color: #fff;
  }
    .social-header a .fa-inverse {
      color: #7c7c7c;
    }
.menu-bar {
  background-color: darkgrey;
  margin-top: 20px;
}
  .menu-bar a {
    color: black;
    font-size: 16px;
    font-weight: 500;
  }
    .menu-bar a:hover {
      text-decoration: none;
      color: black;
    }
.menu-list {
  padding: 12px 0;
  margin-bottom: 0;
}
  .menu-list > li:not(:last-child) {
    margin-right: 40px;
  }
/*CONTENT*/

/*FOOTER*/
footer  > .container{
  padding-right: 15px;
  padding-left: 15px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 95%;

  height: 60px;
  background-color: #f5f5f5;
}
